<div class = "container">
  <div class = "row">
    <h2>Create a Lead</h2>
  </div>

  <div class = "row">
    <%= form_for @lead do |f| %>
      <label>Name:</label>
      <%= f.text_field :name %><br>
      <%= f.hidden_field :agent_id, value: session[:agent_id] %>
      <%= f.hidden_field :region_id, value: @region.id  %>
      <label>Create Industry:</label>
      <%= f.fields_for :industry, @lead.build_industry do |industry_fields| %>
        <%= industry_fields.text_field :name %>
      <% end %>
      <label>(Or) Select Industry: </label>
      <%= f.collection_select  :industry_id, Industry.all, :id, :name %><br>
      <label>Status: </label>
      <%= f.select(:status ,options_for_select([['Go','Go'],['No Go','No Go'],['Converted','Converted']],'GO')) %><br>
      <%= f.submit %>
    <% end %>
  </div>

  <div class = "row">
    <br><br>
    <%= render partial: "agents/error", locals: {variable: @lead} %>
  </div>
</div>
