<div class = "container">
  <div class ="row">
    <h2>Your Lead:</h2>
  </div>

  <div class ="row">
    <h4><strong>Lead Name: </strong><%= @lead.name %></h4>
    <h4><strong>Industry: </strong><%= @lead.industry.name %></h4>
    <h4><strong>Status: </strong><%= @lead.status %></h4>
    <% if @lead.status == "Converted" %>
      <h4><strong>Booked amount($): </strong><%= @lead.booked_loans %></h4>
    <% end %>
  </div>

  <div class ="row">
    <p><%= form_tag edit_lead_path(@lead), method: "get" do %>
        <%= submit_tag("Edit Lead") %>
      <% end %>
    </p>
    <p><%= form_tag lead_path(@lead), method: "delete" do %>
        <%= submit_tag("Delete Lead") %>
      <% end %>
    </p>
    <%= link_to "Back to Profile", agent_path(@agent) %>
  </div>

  <div class="row">
    <a href="#" class="js-index">All leads</a>
  </div>
  <div class="row" id="leads">
  </div>

</div>

<!--<script type="text/javascript" charset="utf-8">
//$(function () {
//  $(".js-index").on("click", function() {
//    $.get("/leads.json", function(data) {
//      var leadslist = "";
//      var leads = data;
//      leadslist = "Lead Name" + ' ' + "Lead Status" + ' ' + "Booked Loans" + '</br>'
//      //debugger;
//      leads.forEach(function(lead){
//        leadslist += lead["name"] + ' ' + lead["status"] + ' ' + lead["booked_loans"] + '</br>'
//        $("#leads").html(leadslist);
//      });
//    });
//  });
//});
</script> -->
