<div class = "container">

  <div class ="row">
    <h2>Your Lead:</h2>
  </div>

  <a href="#" class="js-next" lead-id="<%=@lead.id%>" lead-ids="<%=@lead_ids%>">Next Lead</a>


  <div class ="row">
    <h4 id="leadName"><strong>Lead Name: </strong><%= @lead.name %></h4>
    <h4 id="industryName"><strong>Industry: </strong><%= @lead.industry.name %></h4>
    <h4 id="leadStatus"><strong>Status: </strong><%= @lead.status %></h4>
    <% if @lead.status == "Converted" %>
      <h4 id="bookedAmount"><strong>Booked amount($): </strong><%= @lead.booked_loans %></h4>
    <% end %>
  </div>

  <div class="owners">
    <h4>Owners:</h4>
    <ol>
      <% @owners.each do |owner| %>
      <li><%= owner.name %></li>
      <% end %>
    </ol>
  </div>

  <%= form_for(@owner, :url => owners_path(@lead)) do |f| %>
    <%= f.text_field :name %><br>
    <p><%= f.submit %></p>
  <% end %>

  <div class ="row">

    <p><%= form_tag edit_lead_path(@lead), method: "get" do %>
        <%= submit_tag("Edit Lead") %>
      <% end %>
    </p>

    <p><%= form_tag lead_path(@lead), method: "delete" do %>
        <%= submit_tag("Delete Lead") %>
      <% end %>
    </p>
    <%= link_to "Back to Profile", agent_path(@agent) %>
  </div>

  <div class="row">
    <a href="#" class="js-index">All leads</a>
  </div>
  <div class="row" id="leads">
  </div>

</div>
