<div class = "container">
  <div class = "row">
    <h2>Industries Summary:</h2>
  </div>

  <div class = "row">
    <br>
    <%= link_to "Back to Profile", agent_path(@agent) %><br>
    <br>
  </div>

  <div class ="row">
    <h4>All Industries</h4>
    <table class="table">
      <tr>
        <th>Total Leads</th>
        <th>Total Go</th>
        <th>Total No Go</th>
        <th>Total Converted</th>
        <th>Total Booked Loans</th>
      </tr>
      <tr>
          <td><%= @total_leads %></td>
          <td><%= @total_go %></td>
          <td><%= @total_nogo %></td>
          <td><%= @total_converted %></td>
          <td><%= @total_booked %></td>
      </tr>
    </table>
    <br><br>
  </div>

  <div class = "row">
    <table class="table">
      <h4>Per Industry</h4>
      <tr>
        <th>Industry ID</th>
        <th>Industry Name</th>
        <th>Total Leads</th>
        <th>Total Go</th>
        <th>Total No Go</th>
        <th>Total Converted</th>
        <th>Total Booked Loans</th>
      </tr>
      <% @industries.each do |industry| %>
      <tr>
          <td><%= industry.id %></td>
          <td><%= industry.name %></td>
          <td><%= industry.leads.count %></td>
          <td><%= industry.leads.where(status: "Go").count %></td>
          <td><%= industry.leads.where(status: "No Go").count %></td>
          <td><%= industry.leads.where(status: "Converted").count %></td>
          <td><%= industry.leads.sum(:booked_loans) %></td>
      </tr>
      <% end %>
    </table>
  </div>

</div>
