<div class = "container">

  <div class = "row">
    <h2><%= @industry.name %> Industry</h2>
  </div>

  <div class = "row">
    <br>
    <%= link_to "Back to Profile", agent_path(session[:agent_id]) %><br>
    <br>
  </div>

  <div class = "row">
    <h4> Leads in this Industry: </h4>
      <%= form_tag("/agents/#{session[:agent_id]}/industries/#{@industry.id}", method: "get") do %>
        <%= select_tag(:status ,options_for_select([['Go','Go'],['No Go','No Go'],['Converted','Converted']]),include_blank: true) %>
        <%= submit_tag "Filter by Status" %>
      <% end %>
  </div>

  <div class = "row">
    <br>
    <table class="table">
      <tr>
        <th>ID no</th>
        <th>Lead Name</th>
        <th>Status</th>
        <th>Booked Amount</th>
      </tr>
      <% @leads.each do |lead| %>
      <tr>
          <td><%= lead.id %></td>
          <td><%= lead.name %></td>
          <td><%= lead.status %></td>
          <td><%= lead.booked_loans %></td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
