<div class = "container">

  <div class = "row">
    <h2>Hi! <%= @agent.name %></h2>
  </div>


  <div class = "row">
    <h3>Your Region: <%= link_to @agent.region.name, region_path(@agent.region) %></h3>
  </div>

  <div class = "row">
    <br>
    <span><%= link_to "Create Lead" , new_agent_lead_path(@agent) %></span>&nbsp;&nbsp;&nbsp;
    <span><%=link_to "Your Leads" , leads_path, class: "leads_index" %></span>
    <br>
  </div>

  <div class = "row">
    <br>
    <% if @agent.manager %>
      <span><%=link_to "Your Agents", agents_path %>&nbsp;&nbsp;&nbsp;<%=link_to "Industries Summary", industries_path %>&nbsp;&nbsp;&nbsp;<%= link_to "Regions Summary", regions_path %></span>
    <% end %>
    <br><br>
  </div>

  <div class = "row">
    <table class="table">
      <tr>
        <th>Total Leads</th>
        <th>Total Go</th>
        <th>Total No Go</th>
        <th>Total Converted</th>
        <th>Total Booked Loans</th>
      </tr>
      <tr>
        <td><%= @total_leads %></td>
        <td><%= @total_go %></td>
        <td><%= @total_nogo %></td>
        <td><%= @total_converted %></td>
        <td><%= @total_booked %></td>
      </tr>
    </table>
  </div>

  <div class = "row">
    <p><%= form_tag edit_agent_path(@agent), method: "get" do %>
        <%= submit_tag("Edit Agent") %>
      <% end %>
    </p>
    <p><%= form_tag signout_path do %>
      <input type=submit value='Sign Out'>
    <% end %>
    </p>
  </div>

  <div class = "row">
    <% if flash[:notice] %>
      <div class="alert alert-danger" role="alert"><%= flash[:notice] %></div>
    <% end %>
  </div>

</div>
